# Server-side variables (private, not exposed to the client)
# Optional token for integrating with Logtail, a logging service
LOGTAIL_SOURCE_TOKEN=

# Enable or disable ReCAPTCHA functionality
# Must be set to "true" or "false"
RECAPTCHA_ENABLED=true

# Base URL for the API used by your application
BOG_API_BASE_URL=http://localhost:3030/api/v1.0
BOG_API_KEY=
# Client-side variables (public, exposed to the client)
# Public application URL for the frontend
NEXT_PUBLIC_APP_URL=https://www.example.com

# Optional PostHog API key for tracking and analytics
NEXT_PUBLIC_POSTHOG_KEY=

# Optional PostHog host URL (default: https://app.posthog.com)
NEXT_PUBLIC_POSTHOG_HOST=https://app.posthog.com



# Shared variables (used by both server and client)
# Defines the application's runtime environment
# Possible values: "development", "production", or "test"
NODE_ENV=development

# TLS settings for Node.js
NODE_TLS_REJECT_UNAUTHORIZED=0